---
import { db, Link } from "astro:db";

import { LinkForm } from "@/components/react/link-form";
import Layout from "@/layouts/layout.astro";

const links = await db.select().from(Link);
---

<Layout
  title="new Astro project"
  description="Hello world"
>
  <main class="flex min-h-screen flex-col items-center justify-center space-y-12">
    <LinkForm client:load />

    <section>
      <h2 class="font-bold">Recent links:</h2>
      <ul>
        {
          links.map(({ short, original }) => {
            const shortURL = `https://go.czw.sh/${short}`;

            return (
              <li>
                <a href={shortURL}>{shortURL}</a> redirects to <a href={original}>{original}</a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
