---
import { db, Link } from "astro:db";

import { LinkForm } from "@/components/react/link-form";
import Layout from "@/layouts/layout.astro";

const links = await db.select().from(Link);
---

<Layout
  title="link shortener"
  description="Hello world"
>
  <main class="flex min-h-screen flex-col items-center justify-center gap-12">
    <div>
      <h1 class="text-4xl font-semibold">link shortener</h1><p>
        made by <a
          href="https://charleszw.com"
          target="_blank"
          class="decoration-wavy underline-offset-2 hover:underline"
          >charles</a
        >
      </p>
    </div>

    <p>TODO: Preload fonts</p>

    <LinkForm client:load />

    <section>
      <h2 class="font-bold">Recent links:</h2>
      <ul>
        {
          links.map(({ short, original }) => {
            const shortURL = `https://go.czw.sh/${short}`;

            return (
              <li>
                <a
                  href={shortURL}
                  target="_blank"
                >
                  {shortURL}
                </a>{" "}
                -&gt;{" "}
                <a
                  href={original}
                  target="_blank"
                >
                  {original}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</Layout>
